name: reservaIoT

services:
  api:
    build: .
    container_name: postgres-api
    ports:
      - "6060:6060"
    env_file:
      - .env
    depends_on:
      - postgres
  
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}

    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: